body {
    background-color: rgba(255, 255, 255, 1);
    width: 1440px;
    margin: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.header__container--top {
    padding: 20px 28px 0 28px;
    
}

.header__list {
    display: flex;
    justify-content: space-between;
    & .header__item--login:last-child img:first-child {
        padding-right: 16px;
    }
}

.header__border {
    margin-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header__container--bottom {
    margin-top: 20px;
}

.header__list--links {
    display: flex;
    align-items: center;
    justify-content: center;

    & .header__item--link {
        padding-right: 44px;

        & a {
            color: rgba(114, 110, 141, 1);
            line-height: 21.6px;
        }
    }

    & .header__item--link:last-child {
        padding-right: 0;
    }
}

.main__container--top {
    padding: 80px;
    padding-bottom: 0;
}

.main__head-block {
    display: flex;
    justify-content: space-between;
    background-color: rgba(42, 37, 75, 1);
    color: rgba(255, 255, 255, 1);
}

.main__text-block {
    
    display: flex;
    flex-direction: column;
    padding: 60px;
    padding-right: 0;

    & h1 {
        font-size: 32px;
        line-height: 44.8px;
        margin-bottom: 41px;
    }

    & a.button__transform {
        width: 170px;
        height: 56px;
        background-color: rgba(249, 249, 249, 0.15);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 196px;
        color: rgba(255, 255, 255, 1);
    }

    & p {
        font-size: 18px;
        line-height: 27px;
    }
}

.main__container--advantages {
    padding: 120px 110px 86px 86px;
}

.main__block--advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2A254B;
    & h2 {
        font-size: 24px;
        line-height: 33.6px;
        margin-bottom: 51px;
    }
}

.main__list--advantages {
   width: 100%;
    display: flex;
    justify-content: space-between;

    & div img {
        margin-bottom: 16px;
    }

    & div h3 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 8px;
    }
}

.main__container--new-ceramics {
    padding: 80px;
    padding-bottom: 56px;
}

.main__block--new-ceramics {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2A254B;
    & h2 {
        font-size: 32px;
        line-height: 39.36px;
        align-self: start;
        margin-bottom: 33px;
    }
}

.main__cards--ceramiks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 35px;

    & div img {
        margin-bottom: 24px;
    }

    & div h3 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 8px;
    }

    & div span {
        font-size: 18px;
        line-height: 27px;
    }
}

.main__button--ceramics {
    width: 170px;
    height: 56px;
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2A254B;
}

.popular-products {
    padding-top: 64px;
    padding-bottom: 48px;
}

.main__container--benefist {
    padding: 52px 74px 65px 93px;
    background-color: #F9F9F9;
}

.main__block--benefist {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    color: #2A254B;

    & h2 {
        font-size: 36px;
        line-height: 50.4px;
        padding-top: 68px;
        padding-bottom: 16px;
    }

    & p {
        padding-bottom: 72px;
        text-align: center;
    }

    & form {
        display: flex;
        margin-bottom: 54px;

        & input {
            width: 354px;
            background-color: #F9F9F9;
            padding-left: 32px;
        }

        & a {
            background-color: #2A254B;
            color: #FFFFFF;
            width: 118px;
        }
    }
}

.main__container--bottom {
    padding: 0;
}

.main__block--bottom {
    background-color: #FFFFFF;
    color: #2A254B;
}

.text-block__bottom {
    padding: 72px 0 0 84px;

    & h2 {
        font-size: 24px;
        line-height: 33.6px;
        padding-bottom: 25px;
    }

    & p {
        color: #505977;
        line-height: 21.6px;
        margin-bottom: 25px;
    }
}

.main__button--bottom {
    margin-top: 196px;
}

footer {
    background-color: rgba(42, 37, 75, 1);
}

.footer__container--top {
    padding: 58px 83px 48px 82px;
    color: rgba(255, 255, 255, 1);
}

.footer__block--top {
    display: flex;
}

.footer__left {
    display: flex;
    justify-content: space-between;
    width: 50%;

    & ul:last-child {
        padding-right: 109px;
    }

    & ul li {
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }

        & h2 {
            line-height: 19.68px;
        }

        & a {
            color: rgba(255, 255, 255, 1);
            font-size: 14px;
            line-height: 18.9px;
        }
    }
}

.footer__right {
    display: flex;
    flex-direction: column;

    & h2 {
        line-height: 19.68px;
        margin-bottom: 16px;
    }

    & form {
        display: flex;

        & input {
            width: 509px;
            padding-left: 32px;
            background-color: rgba(255, 255, 255, 0.15);

            &::placeholder {
                color: rgba(255, 255, 255, 1);
            }
        }

        & a {
            width: 118px;
        }
    }
}

.footer__container--bottom {
    padding: 0 83px 0 80px;
}

.footer__block--bottom {
    padding-top: 24px;
    padding-bottom: 25px;
    border-top: 1px solid rgba(78, 77, 147, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p {
        color: rgba(255, 255, 255, 1);
        font-size: 14px;
        line-height: 18.9px;
    }

    & div {
        display: flex;
        align-items: center;

        & a {
            margin-right: 24px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
} 


@media (max-width: 1024px) {
    body  {
        width:100%;
    }

    .main__container--top {
        padding-left: 0;
        padding-right: 0;
    }

    .main__head-block {
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
 
        & .main__text-block {
            align-items: center;
            padding: 40px 0 0 0;

            & h1 {
                margin-bottom: 80px;
            }

            & a {
                order: 2;
                margin-bottom: 24px;
            }

            & p {
                text-align: center;
                margin-bottom: 32px;
            }

        }
    }

    .main__container--advantages {
        padding: 48px 24px 45px 24px;

        & h2 {
            margin-bottom: 36px;
        }
    }

    .main__list--advantages {
        flex-direction: column;
        align-items: center;

        & div {
            margin-bottom: 36px;
            
            &:last-child {
                margin-bottom: 45px;
            }

            & h3 {
                margin-bottom: 12px;
            }
        }

    }

    .main__container--new-ceramics {
        padding: 0 60px 0 60px;
    }

    .main__block--new-ceramics h2 {
        align-self: center;
    }

    .main__cards--ceramiks {
        flex-wrap: wrap;
        justify-content: space-around;

        & div {
            margin-bottom: 20px;

            &:nth-child(3), &:last-child {
                margin-bottom: 0;
            }
        }

    }

    .main__container--benefist {
        padding: 0;    
    }

    .text-block__bottom  {
        padding-top: 0;
        
        & a {
            margin-top: 32px;
            margin-bottom: 38px;
        }
    }

    .footer__block--top {
        flex-direction: column;
        align-items: center;

        & .footer__left {
            width: 100%;
            justify-content: space-around;

            & ul:last-child {
                padding-right: 0;
            }
        }

        & .footer__right {
            margin-top: 40px;
        }
    }
}